/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
}

.input-invalid {
    color: red;
}