<div id="about-container">
    <h1 id="title">About</h1>
    <div id="about-content">
        <div id="couse-info">
            <div id="image-wrapper">
                <img src="../../assets/images/softuniLogo.png" alt="softuniLogo">
            </div>
            <p id="intro">Project for Angular course at Software University</p>
            <p id="module"><span>Module:</span> JS Web</p>
            <p id="course"><span>Course:</span> Angular</p>
        </div>
        <div id="creator-info">
            <p id="name"><span>Project creator:</span> Beatris Borisova</p>
        </div>
    </div>
</div>