#about-container {
    text-align: center;
    background: rgba(246,246,246,255);
    padding: 50px;
    margin: 0;
}

#intro {
    font-size: 20px;
}

#module span, #course span, #name span {
    font-weight: bold;
}

#image-wrapper { 
    margin: 0 auto;
    width: 100px;
}

#image-wrapper img {
    width: 100%;
}