#about-container {
    text-align: center;
}

#intro {
    font-size: 20px;
}

#module span, #course span, #name span {
    font-weight: bold;
}

#image-wrapper { 
    margin: 0 auto;
    width: 100px;
}

#image-wrapper img {
    width: 100%;
}