#not-found-container {
    text-align: center;
    margin: 100px;
}

#not-found-container h1 {
    font-size: 75px;
    margin-bottom: 0;
}


button {
    padding: 10px 20px;
    margin: 30px 20px 20px 0;
    border-radius: 13px;
    background: rgba(252, 191, 126, 255);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
}