#book-container {
    margin: 20px auto;
    width: 50%;
}

#book-content {
    display: flex;
    border: 2px solid;
    width: fit-content;
}

#image-wrapper {
    display: flex;
    width: 200px;
    margin: 20px;
    align-items: center;
}

#image-wrapper img {
    width: 100%;
}

#book-info {
    width: 100%;
    margin: 20px;
    text-align: center;
}

#book-info span {
    font-weight: bold;
}

#book-info div {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 30px 20px 20px 0;
    border-radius: 13px;
    background: rgba(252, 191, 126, 255);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    cursor: pointer;
    outline: none;
}

#deleteBtn {
    background: #ff7272;
}

#saveBtn {
    background: rgb(171, 224, 174);
}