<div *ngIf="dataBindingModel">
    <div id="edit-book-container">
        <div id="edit-book-content">
            <h2>Edit book</h2>
            <form [formGroup]="editFormGroup" (ngSubmit)="onEdit()">
                <div><label>Title: <input type="text" name="title" formControlName="title" [(ngModel)]="dataBindingModel.title"></label></div>
                <div><label>Author: <input type="text" name="author" formControlName="author" [(ngModel)]="dataBindingModel.author"></label></div>
                <div><label>Year of publishing: <input type="text" name="year" formControlName="year" [(ngModel)]="dataBindingModel.year"></label></div>
                <div><label>Resume: <textarea name="resume" formControlName="resume" [(ngModel)]="dataBindingModel.resume"></textarea></label></div>
                <div><label>Image URL: <input type="text" name="imageUrl" formControlName="imageUrl" [(ngModel)]="dataBindingModel.imageUrl"></label></div>
                <button type="submit" [disabled]="!editFormGroup.valid">Save</button>
            </form>
        </div>
    </div>
</div>