<div *ngIf="dataBindingModel">
    <div id="profile-container">
        <div id="form-container">
            <form [formGroup]="profileFormGroup" (ngSubmit)="onEditProfileInfo()">
                <div><label>Name: <input type="text" name="name" formControlName="name"
                            [(ngModel)]="dataBindingModel.name"></label></div>
                <div>
                    <label>Gender:
                        <div id="gender-controls">
                            <label><input type="radio" name="gender" formControlName="gender"
                                [(ngModel)]="dataBindingModel.gender" value="male"
                                (change)="onGenderToggle($event)"> Male</label>
                            <label><input type="radio" name="gender" formControlName="gender"
                                [(ngModel)]="dataBindingModel.gender" value="female"
                                (change)="onGenderToggle($event)"> Female</label>
                        </div>
                    </label>
                </div>
                <div><label>City: <input type="text" name="city" formControlName="city"
                            [(ngModel)]="dataBindingModel.city"></label></div>
                <div><label>Phone number: <input type="number" name="phone" formControlName="phone"
                            [(ngModel)]="dataBindingModel.phone"></label></div>
                <ng-container *ngIf="profileFormGroup.controls['phone'].touched">
                    <div *ngIf="profileFormGroup.controls['phone'].errors?.['minlength']" class="input-invalid">
                        Book title is required
                    </div>
                </ng-container>
                <button type="submit" [disabled]="!profileFormGroup.valid">Add</button>
            </form>
        </div>
    </div>
</div>

<div *ngIf="!dataBindingModel">
    <div id="profile-container">
        <div id="form-container">
            <form [formGroup]="profileFormGroup" (ngSubmit)="onEditProfileInfo()">
                <div><label>Name: <input type="text" name="name" formControlName="name"></label></div>
                <div><label>City: <input type="text" name="city" formControlName="city"></label></div>
                <div><label>Phone number: <input type="number" name="phone" formControlName="phone"></label></div>
                <ng-container *ngIf="profileFormGroup.controls['phone'].touched">
                    <div *ngIf="profileFormGroup.controls['phone'].errors?.['minlength']" class="input-invalid">
                        Book title is required
                    </div>
                </ng-container>

                <button type="submit" [disabled]="!profileFormGroup.valid">Add</button>
            </form>
        </div>
    </div>
</div>