<div id="login-container">
    <div id="title">Sign in</div>
    <div id="login-content">
        <form #form="ngForm" (submit)="onLogin(form.value)">
            <div><label>Username <input type="text" name="username" required ngModel></label></div>
            <div><label>Password <input type="password" name="password" required ngModel></label></div>
            <button type="submit">Sign in</button>
        </form>
        <p>You have not registed yet? Click <a routerLink="/register">here</a></p>
    </div>
</div>