<div id="register-container">
    <div id="title">Sign up</div>
    <div id="required">* All fields are required</div>
    <div id="register-content">
        <div><label>First and last name <input type="text" required></label></div>
        <div><label>Username <input type="text" required></label></div>
        <div><label>Password <input type="password" required></label></div>
        <div><label>Repeat password <input type="password" required></label></div>
        <button type="submit">Sign up</button>
    </div>
</div>