<div id="register-container">
    <div id="title">Sign up</div>
    <div id="required">* All fields are required</div>
    <div id="register-content">
        <form #form="ngForm" (submit)="onRegister(form.value)">
            <div><label>First and last name <input type="text" name="name" required ngModel></label></div>
            <div><label>Username <input type="text" name="username" required ngModel></label></div>
            <div><label>Password <input type="password" name="password" required ngModel></label></div>
            <div><label>Repeat password <input type="password" name="repass" required ngModel></label></div>
            <button type="submit">Sign up</button>
        </form>
        <p>Already signed up? Click <a routerLink="/login">here</a></p>
    </div>
</div>