#book-container {
    margin: 20px auto;
    width: 70%;
    background: #927e6f5e;
}

#book-content {
    display: flex;
    align-items: flex-start;
    border: 2px solid;
}

#image-wrapper {
    display: flex;
    width: 300px;
    margin: 20px;
    align-items: center;
}

#image-wrapper img {
    width: 100%;
}

#book-info {
    width: 50%;
    margin: 20px;
}

#book-info span {
    font-weight: bold;
}

#book-info div {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 30px 20px 20px 0;
    border-radius: 13px;
    background: rgba(252, 191, 126, 255);
    border: none;
    text-transform: uppercase;

    font-size: 15px;
}

button:hover {
    cursor: pointer;
    outline: none;
}

#delete-btn {
    background: #ff7272;
}

#save-btn {
    background: rgb(171, 224, 174);
}

#resume-btn {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    font-size: 12px;
}