<div id="home-container">
    <div id="transp">
        <app-header></app-header>

        <div id="search-container">

            <form [formGroup]="searchFormGroup" (ngSubmit)="onSearch(searchedValue)" id="search-controls">
                <input type="search" name="search" placeholder="Book name" formControlName="search" [(ngModel)]="searchedValue">
                <button type="submit">Search</button>
            </form>

            <div id="search-results" *ngIf="!toHome">
                <div id="results-books" *ngIf="searchResults">
                    <div *ngFor="let book of searchResults; let i = index">
                        <app-book [book]="book"></app-book>
                    </div>
                </div>
    
                <div *ngIf="noResults" id="no-books">
                    <div>
                        No books found!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
