<div id="book-container">
    <div id="book-content">
        <div id="image-wrapper">
            <img src="../../assets/images/bookPlaceholder.png.crdownload" alt="bookImage">
        </div>
        <div id="book-info">
            <h2>Book info</h2>
            <div><span>Title:</span> TEST TITLE</div>
            <div><span>Author:</span> TEST AUTHOR</div>
            <div><span>Year of publishing:</span> TEST YEAR</div>
            <div><span>Resume:</span> TEST Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio perferendis, temporibus ad
                numquam ut cumque placeat obcaecati, deserunt voluptate ipsa est eligendi quod rerum dolorem aspernatur
                cupiditate quis? Delectus, laudantium.
            </div>
            <button id="editBtn">Edit</button>
            <button id="deleteBtn">Delete</button>
            <button id="saveBtn">Save to favourites</button>
            
        </div>
    </div>
</div>