#header-container {
    text-align: center;
    background-image: url('../../../assets/images/headerBackground.png');
    background-repeat: no-repeat;
    background-size:cover;
}

#header-content {
    padding: 30px;
    font-size: 25px;
}

#welcome {
    font-weight: bold;
    font-size: 40px;
}