#header-container {
    text-align: center;
}

#header-content {
    padding: 30px;
    font-size: 25px;
    color: #000000;
}

#welcome {
    font-weight: bold;
    font-size: 40px;
    padding: 30px;
}