<nav id="nav-container">
    <div id="nav-content">
        <ul id="nav-ul">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Books</a></li>
            <li class="nav-item"><a href="#">About</a></li>
            <li class="nav-item"><a href="#">Profile</a></li>
        </ul>
    </div>
    <div id="nav-user">
        <ul id="nav-user-ul">
            <li class="nav-item"><a href="#">Login</a></li>
            <li class="nav-item"><a href="#">Register</a></li>
            <li class="nav-item"><a href="#">Logout</a></li>
        </ul>
    </div>
</nav>