<nav id="nav-container">
    <div id="nav-content">
        <ul id="nav-ul">
            <li class="nav-item"><a routerLink="/">Home</a></li>
            <li class="nav-item"><a routerLink="/books">Books</a></li>
            <li class="nav-item"><a routerLink="/about">About</a></li>
            <li class="nav-item"><a routerLink="/profile">Profile</a></li>
        </ul>
    </div>
    <div id="nav-user">
        <ul id="nav-user-ul">
            <li class="nav-item"><a routerLink="/login">Login</a></li>
            <li class="nav-item"><a routerLink="/register">Register</a></li>
            <li class="nav-item"><a routerLink="#">Logout</a></li>
        </ul>
    </div>
</nav>