#nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-shadow: -1px 7px 15px 4px rgba(0, 0, 0, 0.24);
    background: rgba(252, 191, 126, 255);
    font-weight: bold;
    color: #000000;
}

#nav-ul, #nav-user-ul {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin: 5px;
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}


.nav-item a {
    text-decoration: none;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid;
}