<div id="create-book-container">
    <div id="create-book-content">
        <h2>Add new book</h2>
        <form [formGroup]="createFormGroup" (ngSubmit)="onCreate()">
            <div><label>Title: <input type="text" name="title" formControlName="title"></label></div>
            <div><label>Author: <input type="text" name="author" formControlName="author"></label></div>
            <div><label>Year of publishing: <input type="text" name="year" formControlName="year"></label></div>
            <div><label>Resume: <textarea name="resume" formControlName="resume"></textarea></label></div>
            <button type="submit" [disabled]="!createFormGroup.valid">Add book</button>
        </form>
    </div>
</div>