#header-container {
    text-align: center;
    background: url('https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?size=626&ext=jpg&ga=GA1.2.2005928512.1641340800');
    background-repeat: no-repeat;
    background-size:cover;
}

#header-content {
    padding: 30px;
    font-size: 25px;
}

.header-text {
    font-family: 'Noto Sans', sans-serif;
}

#welcome {
    font-weight: bold;
    font-size: 40px;
}