#nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-shadow: -1px 7px 15px 4px rgba(0, 0, 0, 0.24);
    background: rgb(171 107 40);
    font-weight: bold;
    color: #000000;
}

#nav-ul, #nav-user-ul {
    display: flex;
}

.nav-item {
    list-style-type: none;
    margin: 5px;
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
}

.nav-item:hover {
    cursor: pointer;
    border-bottom: 2px solid;
}

#date {
    list-style-type: none;
    margin: 5px;
    padding: 5px 8px;
    border-bottom: 2px solid transparent;
}

#date:hover {
    text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 391px) {

    body {
        width: fit-content;
    }

    #nav-container {
        flex-direction: column;
        align-items: center;
    }

    #nav-ul, #nav-user-ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        font-size: 20px;
    }
}