#books-container {
    margin: 50px 50px 0 50px;
}

#books-content {
    display: flex;
    flex-wrap: wrap;
    background: #b393637c;

}

#load {
    justify-content: center;
    padding: 50px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#load > mat-spinner {
    margin: 20px auto;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000;
}