<div *ngIf="currentBook">
    <div id="book-container">
        <div id="book-content">
            <div id="image-wrapper">
                <img src="{{currentBook.imageUrl}}" alt="bookImage">
            </div>
            <div id="book-info">
                <h2>Book info</h2>

                <div><b>Rating</b>: {{allRates}}</div>
                <div *ngIf="hasToken && !hasRated && !isOwner">
                    <section *ngIf="!isRated">
                        <p><b>Rate this book</b></p>
                        <bar-rating [max]="6" [(rate)]="rate">
                            <ng-template ratingInactive>
                                <fa-icon [icon]="['far', 'star']" [fixedWidth]="true" size="lg" style="color: #d2d2d2">
                                </fa-icon>
                            </ng-template>
                            <ng-template ratingActive>
                                <fa-icon [icon]="['fas', 'star']" [fixedWidth]="true" size="lg" style="color: #50e3c2">
                                </fa-icon>
                            </ng-template>
                            <ng-template ratingFraction>
                                <fa-icon [icon]="['fas', 'star-half-alt']" [fixedWidth]="true" size="lg"
                                    style="color: #50e3c2"></fa-icon>
                            </ng-template>
                        </bar-rating>
                        <button *ngIf="rate" (click)="onRate()">Confirm rating of <b>{{rate}}</b></button>
                    </section>
                </div>

                <div *ngIf="hasToken && hasRated && !isOwner">
                    <p><i>You have rated this book.<br> Thank you for your feedback.</i></p>
                    <br>
                </div>


                <div><span>Title:</span> {{currentBook.title}}</div>
                <div><span>Author:</span> {{currentBook.author}}</div>
                <div><span>Year of publishing:</span> {{currentBook.year}}</div>
                <ng-container>
                    <div *ngIf="!isExpanded"><span>Resume:</span> {{shorted}}...</div>
                    <div *ngIf="isExpanded"><span>Resume:</span> {{resume}}</div>
                    <button id="resumeBtn" (click)="onToggleExpand($event)">(Show full resume)</button>
                </ng-container>

                <button id="editBtn" routerLink="/books/edit/{{bookId}}" *ngIf="isOwner">Edit</button>
                <button id="deleteBtn" (click)="onDelete()" *ngIf="isOwner">Delete</button>
            </div>
        </div>
    </div>
</div>