<div *ngIf="currentBook">
    <div id="book-container">
        <div id="book-content">
            <div id="image-wrapper">
                <img src="../../assets/images/bookPlaceholder.png.crdownload" alt="bookImage">
            </div>
            <div id="book-info">
                <h2>Book info</h2>
                <div><span>Title:</span> {{currentBook.title}}</div>
                <div><span>Author:</span> {{currentBook.author}}</div>
                <div><span>Year of publishing:</span> {{currentBook.year}}</div>
                <div><span>Resume:</span> {{currentBook.resume}}</div>
                <button id="editBtn" routerLink="/books/edit/{{bookId}}">Edit</button>
                <button id="deleteBtn" (click)="onDelete()">Delete</button>
                <button id="saveBtn">Save to favourites</button>
    
            </div>
        </div>
    </div>
</div>